* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.about-bg-banner {
  margin-top: 10rem;
  position: relative;
  height: 300px;
  background: url("../images/bg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  text-align: center;
  color: #fff; /* Adjust text color as needed */
}

.banner-content h2 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about-content {
  padding: 50px;
  text-align: center;
}

.about-text {
  max-width: 800px;
  margin: 0 auto 30px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.6;
}

.about-points {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-point {
  flex: 1;
  max-width: 300px;
  margin: 20px;
  text-align: left;
}

.about-point img {
  width: 100%;
  border-radius: 10px;
}

.about-point h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.about-point p {
  font-size: 16px;
}

.founder-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 60px 0;
  padding: 0 20px; /* Added padding for smaller screens */
}

.founder-section h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.founder-carousel {
  max-width: 800px;
  margin: 0 auto;
}

.founder {
  text-align: center;
  padding: 4px 30px;
}

.founder img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.founder h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.founder p {
  font-size: 16px;
  line-height: 1.6;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  .about-bg-banner {
    margin-top: 14rem;
  }
  .banner-content {
    width: 80%;
  }

  .about-points {
    flex-direction: column;
    align-items: center;
  }

  .about-point {
    max-width: 100%;
    margin: 20px 0;
    text-align: center;
  }

  .founder-carousel {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .about-bg-banner {
    margin-top: 14rem;
  }
  .about-bg-banner {
    height: 200px;
  }

  .banner-content h2 {
    font-size: 28px;
  }

  .about-text p {
    font-size: 16px;
  }

  .about-point h3 {
    font-size: 20px;
  }

  .founder img {
    width: 150px;
    height: 150px;
  }

  .founder h3 {
    font-size: 20px;
  }

  .founder p {
    font-size: 14px;
  }
}
