@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Apply the font to your CSS */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.contact-bg-banner {
  position: relative;
  height: 300px;
  background: url("../images/bg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.c-banner-content {
  text-align: center;
  color: #fff;
}

.c-banner-content h2 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
  padding: 0 20px; /* Added padding for better responsiveness */
}

.cla-container {
  text-align: center;
  margin: 0 auto; /* Centered for better responsiveness */
}

.cla-container img {
  width: 150px;
  margin-bottom: 20px;
}

.cla-container p {
  text-align: justify;
  line-height: 1.6;
  font-weight: 200;
  padding: 0 20px; /* Added padding for better readability */
}

.contact-form-container {
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 50px rgb(0 157 193 / 35%);
  transition: transform 0.3s ease;
}

.contact-form-container:hover {
  transform: translateY(-5px);
}

.contact-form-container h3 {
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
  text-align: left;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.2s, transform 0.3s ease;
  outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #00c0ca;
}

.form-group input:hover,
.form-group textarea:hover {
  transform: scale(0.98);
  color: #007f84;
  border: 0.5px solid #007f84;
}

.form-group textarea {
  resize: vertical;
}

.label-input {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
  transition: all 0.2s;
}

.input-name:focus + .label-input,
.input-name:not(:placeholder-shown) + .label-input,
.input-email:focus + .label-input,
.input-email:not(:placeholder-shown) + .label-input,
textarea:focus + .label-input,
textarea:not(:placeholder-shown) + .label-input {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #00c0ca;
  background-color: #fff;
  padding: 0 5px;
}

.send-button {
  background-color: #00aab3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.send-button:hover {
  background-color: #007f84;
  transform: scale(0.98);
}

.iframe-map {
  grid-column: span 2;
  margin-top: 30px;
  height: 400px;
}

.iframe-map iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .main-contact-container {
    grid-template-columns: 1fr;
  }

  .cla-container {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .contact-bg-banner {
    height: 150px;
    margin-top: 14rem;
  }
  .contact-bg-banner {
    height: 200px;
  }

  .c-banner-content {
    width: 90%;
    padding: 10px;
  }

  .c-banner-content h2 {
    font-size: 28px;
  }

  .main-contact-container {
    grid-gap: 20px;
  }

  .cla-container p {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .contact-bg-banner {
    height: 150px;
    margin-top: 14rem;
  }

  .c-banner-content h2 {
    font-size: 24px;
  }

  .cla-container img {
    width: 120px;
  }

  .cla-container p {
    line-height: 1.4;
    padding: 0 5px;
  }

  .contact-form-container {
    padding: 10px;
  }

  .send-button {
    font-size: 12px;
    padding: 8px 16px;
  }

  .iframe-map {
    height: 300px;
  }
}
