/* ********************************** */
/* ********PRODUCT BANNER************ */
/* ********************************** */
.product_banner-container {
  position: relative;
  height: 300px;
  background: url("../images/bg.jpg") center/cover no-repeat; /* Adjust the path to your actual image */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.product-banner-top {
  text-align: center;
  color: #fff;
}

.product-banner-top h2 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* ********************************** */
/* ********Shop video*************** */
/* ********************************** */
.shop-video-ads {
  display: flex;
  justify-content: center; /* Center the video horizontally */
  align-items: center; /* Center the video vertically */
  padding: 20px 0px; /* Add some padding around the video */
  background-color: #f9f9f9; /* Light background for contrast */
}

.shop-video {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  overflow: hidden; /* Ensure no content spills out of the rounded corners */
}

/* Remove default border and make iframe responsive */
.shop-video iframe {
  width: 100%;
  height: 100vh;
  border: none;
  display: block; /* Remove any inline spacing */
}

/* ********************************** */
/* ********PRODUCT MAIN*************** */
/* ********************************** */
/* ********PRODUCT Category*********** */
.product-category-container {
  width: 100%;
  background-color: #f8f9fa;
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.233);
}

.top-sub-navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 1px 50px;
}

.product-category {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.category-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.category-title {
  font-weight: bold;
  margin-right: 20px;
  color: #343a40;
  position: relative;
  font-size: 1.2em;
  top: 10px;
}

.category-box li {
  margin: 0 15px;
  padding: 10px 15px;
  cursor: pointer;
  transition: color 0.3s, border-bottom 0.3s;
  font-size: 1em;
  color: #343a40;
  position: relative;
}

.category-box li::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  list-style: none;
  background-color: #00aab3;
  transition: width 0.3s ease;
}

.category-box li:hover::before,
.category-box li:focus::before,
.category-box li.active::before {
  width: 100%;
}

.category-box li:hover,
.category-box li:focus,
.category-box li.active {
  color: #00b4d1;
  border-bottom: 2px solid #00b4d1;
}

.category-box li:active {
  color: #007a99;
  border-bottom: 2px solid #007a99;
}

@media (max-width: 768px) {
  .top-sub-navbar {
    justify-content: center;
  }
  .category-box ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .category-box li {
    margin: 10px 0;
  }
}
/* ************************* */
/* ******Search css *******  */
/* ************************* */

.search-bar-container {
  flex: 2;
  display: flex;
  justify-content: center;
}
.search-form {
  --input-bg: #fff;
  --padding: 1.5em;
  --rotate: 80deg;
  --gap: 2em;
  --icon-change-color: #0cb4b4;
  --height: 40px;
  width: 100%;
  background: var(--input-bg);
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--icon-change-color);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.search-form:focus {
  border: 1px solid #0cb4b4;
}
.search-form:hover {
  border: 1px solid #0cb4b4;
  transform: scale(0.98);
}
.search-form label {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--height);
}
.input-search {
  width: 100%;
  padding-inline-start: calc(var(--padding) + var(--gap));
  outline: none;
  background: none;
  border: 0;
}
.search-form svg {
  color: #111;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  height: 15px;
}
.search-form .search-icon {
  position: absolute;
  left: var(--padding);
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form .swap-off {
  transform: rotate(-80deg);
  opacity: 0;
  visibility: hidden;
}
.search-form .clear-btn {
  background: none;
  border: none;
  right: calc(var(--padding) - var(--gap));
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
}
.input-search:focus ~ .search-icon {
  transform: rotate(var(--rotate)) scale(1.3);
}
.input-search:focus ~ .search-icon .swap-off {
  opacity: 1;
  transform: rotate(-80deg);
  visibility: visible;
  color: var(--icon-change-color);
}
.input-search:focus ~ .search-icon .swap-on {
  opacity: 0;
  visibility: visible;
}
.input-search:valid ~ .search-icon {
  transform: scale(1.3) rotate(var(--rotate));
}
.input-search:valid ~ .icon .swap-off {
  opacity: 1;
  visibility: visible;
  color: var(--icon-change-color);
}
.input-search:valid ~ .search-icon .swap-on {
  opacity: 0;
  visibility: visible;
}
.input-search:valid ~ .clear-btn {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: 0s;
}

/* ********************************** */
/* ********PRODUCT ADD RIGHT********* */
/* ********************************** */

.products-add-container-right {
  flex: 2;
  padding: 20px;
}

.product_box {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
.product_container .box {
  width: 258px;
  height: 300px;
  border: 4px solid #f6f7f8;
  margin: 16px 10px;
  padding: 0px 20px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.product_container .box:hover {
  transform: translateY(-5px); /* Lift on hover */
  box-shadow: 0 8px 16px #00aab3;
}
.product_container .box .img-box {
  display: flex;
  width: 100%;
  padding: 5px 0px;
  max-width: 130px;
  justify-content: center;
  align-items: center;
  margin: 1px 50px;
}
.product_container .box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 100px;
}
.product_container .box .img-box .icon {
  display: flex;
  flex-direction: column;
  margin-left: 22%;
  margin-top: 70px;
  transition: margin-left 0.5s;
}
.product_container .box:hover .img-box .icon {
  margin-left: -10%;
}
.product_container .box .img-box .icon .icon-box {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  color: #00aab3;
  transition: background 0.5s, color 0.5s;
  cursor: pointer;
  margin: 5px 0px;
}
.product_container .box .img-box .icon .icon-box:hover {
  color: #fff;
  background: #00aab3;
}
.detail {
  text-align: center;
  padding: 10px;
  margin-right: 30px;
}

.detail h3 {
  text-transform: uppercase;
  font-size: 14px;
  color: #232323;
  font-weight: 300;
  letter-spacing: 1px;
}

.detail p {
  color: #00aab3;
  margin-top: 5px;
  font-size: 14px;
  letter-spacing: 1px;
}

/* Improved CSS for buttons */
.detail .product-add-to-cart-btn {
  margin-top: 10px;
  padding: 10px 20px;
  margin-left: 20px;
  border: none;
  background: #232323;
  color: #fff;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.detail .product-add-to-cart-btn:hover {
  transform: scale(0.98);
  background-color: #00aab3;
  color: #ffffff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .products-add-container-right {
    padding: 10px;
  }

  .product_container .box {
    width: 100%;
    margin: 10px 0;
  }

  .detail {
    margin-right: 10px;
  }

  .detail .product-add-to-cart-btn {
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 480px) {
  .product_container {
    grid-template-columns: 1fr; /* Single column layout for small screens */
  }

  .product_container .box {
    height: auto;
  }

  .detail {
    padding: 5px;
    margin-right: 0;
  }

  .detail h3 {
    font-size: 12px;
  }

  .detail p {
    font-size: 12px;
  }

  .detail .product-add-to-cart-btn {
    padding: 8px;
    font-size: 14px;
  }
}

/* ********************************** */
/* ********Show More Button*********** */
/* ********************************** */
.show_more_btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: #00aab3;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
.show_more_btn:hover {
  background: #232323;
  color: #fff;
}
/* ************************* */
/* ************************* */
/* ************************* */
